<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--Wisej Settings-->
    <add key="PatchConnectionStrings" value="true"/>
    <add key="Wisej.LicenseKey" value="D537D6-B76260-460B9D-3D9C84-0045"/>
    <add key="Wisej.DefaultTheme" value="Blue-1"/>
    <add key="vs:EnableBrowserLink" value="false"/>
    <!--Gleamtech settings-->
    <add key="GleamTechWeb:CookielessSessionMode" value="Always"/>
    <add key="GleamTechWeb:CookieSameSiteFixEnabled" value="true"/>
    <!--General Settings-->
    <add key="WinTexMode" value="false"/>
    <add key="SiteMode" value="false"/>
    <add key="FaceID" value="false" />
    <add key="GPS" value="true"/>

    <!--IMPORTANT Settings-->

    <!--Eroğlu Global Settings-->
    <add key="UserControlMode" value="false"/>
    <add key="FinalWithPictures" value="false"/>
    <add key="Owner" value="Vera"/>
    <add key="ProgramName" value="Eroglu Global"/>
    <add key="ProgramNameToolTip" value="Eroglu Global WEB"/>
    <add key="LocalMode" value="true"/>
    <add key="ShowPictures" value="true"/>
    <add key="TicariSiparisMode" value="false"/>
    <add key="CorapMode" value="false" />
    <add key="SalesMode" value="false"/>

    <add key="SERVER1" value="10.157.31.129" />
    <add key="DATABASE1" value="ergarment" />
    <add key="USERNAME1" value="wintex" />
    <add key="PASSWORD1" value="wintex" />

    <add key="SERVER2" value=""/>
    <add key="DATABASE2" value=""/>
    <add key="USERNAME2" value=""/>
    <add key="PASSWORD2" value=""/>

    <add key="SERVER3" value=""/>
    <add key="DATABASE3" value=""/>
    <add key="USERNAME3" value=""/>
    <add key="PASSWORD3" value=""/>

    <add key="SERVER4" value=""/>
    <add key="DATABASE4" value=""/>
    <add key="USERNAME4" value=""/>
    <add key="PASSWORD4" value=""/>

    <add key="SERVER5" value=""/>
    <add key="DATABASE5" value=""/>
    <add key="USERNAME5" value=""/>
    <add key="PASSWORD5" value=""/>

    <add key="SERVER6" value=""/>
    <add key="DATABASE6" value=""/>
    <add key="USERNAME6" value=""/>
    <add key="PASSWORD6" value=""/>

    <add key="SERVER7" value=""/>
    <add key="DATABASE7" value=""/>
    <add key="USERNAME7" value=""/>
    <add key="PASSWORD7" value=""/>

    <add key="SERVER8" value=""/>
    <add key="DATABASE8" value=""/>
    <add key="USERNAME8" value=""/>
    <add key="PASSWORD8" value=""/>

    <add key="SERVER9" value=""/>
    <add key="DATABASE9" value=""/>
    <add key="USERNAME9" value=""/>
    <add key="PASSWORD9" value=""/>

    <add key="SERVER10" value=""/>
    <add key="DATABASE10" value=""/>
    <add key="USERNAME10" value=""/>
    <add key="PASSWORD10" value=""/>

    <add key="LocalWintexFilePath" value="c:\Wintex"/>
    <add key="LocalDocumentViewerFilePath" value="c:\Wintex\Docs"/>
    <add key="LocalUploaderFilePath" value="c:\Wintex\Docs"/>
    <add key="LocalFinalOKFileSaveFilePath" value="c:\Wintex\finalok"/>

    <add key="WintexDomain" value="eroglugyo"/>
    <add key="WintexFilePath" value="\\10.157.31.129\wintex"/>
    <add key="WintexUsername" value="Okan.sokmen"/>
    <add key="WintexPassword" value="Okn12345"/>

    <add key="DocumentViewerDomain" value="eroglugyo"/>
    <add key="DocumentViewerFilePath" value="\\10.157.31.129\wintex"/>
    <add key="DocumentViewerUsername" value="Okan.sokmen"/>
    <add key="DocumentViewerPassword" value="Okn12345"/>

    <add key="UploaderDomain" value="eroglugyo"/>
    <add key="UploaderFilePath" value="\\10.157.31.129\wintex"/>
    <add key="UploaderUsername" value="Okan.sokmen"/>
    <add key="UploaderPassword" value="Okn12345"/>

    <add key="FinalOKFileSaveDomain" value="eroglugyo"/>
    <add key="FinalOKFileSaveFilePath" value="\\10.157.31.129\wintex"/>
    <add key="FinalOKFileSaveUsername" value="Okan.sokmen"/>
    <add key="FinalOKFileSavePassword" value="Okn12345"/>

    <!--Vera Settings-->
    <!--<add key="UserControlMode" value="false"/>
    <add key="FinalWithPictures" value="false"/>
    <add key="Owner" value="Vera"/>
    <add key="ProgramName" value="Vera"/>
    <add key="ProgramNameToolTip" value="Vera WEB"/>
    <add key="LocalMode" value="true"/>
    <add key="ShowPictures" value="true"/>
    <add key="TicariSiparisMode" value="false"/>
    <add key="CorapMode" value="false" />
    <add key="SalesMode" value="false"/>

    <add key="SERVER1" value="192.168.1.216" />
    <add key="DATABASE1" value="veragroup" />
    <add key="USERNAME1" value="sa" />
    <add key="PASSWORD1" value="wintex" />

    <add key="SERVER2" value=""/>
    <add key="DATABASE2" value=""/>
    <add key="USERNAME2" value=""/>
    <add key="PASSWORD2" value=""/>

    <add key="SERVER3" value=""/>
    <add key="DATABASE3" value=""/>
    <add key="USERNAME3" value=""/>
    <add key="PASSWORD3" value=""/>

    <add key="SERVER4" value=""/>
    <add key="DATABASE4" value=""/>
    <add key="USERNAME4" value=""/>
    <add key="PASSWORD4" value=""/>

    <add key="SERVER5" value=""/>
    <add key="DATABASE5" value=""/>
    <add key="USERNAME5" value=""/>
    <add key="PASSWORD5" value=""/>

    <add key="SERVER6" value=""/>
    <add key="DATABASE6" value=""/>
    <add key="USERNAME6" value=""/>
    <add key="PASSWORD6" value=""/>
    
    <add key="SERVER7" value=""/>
    <add key="DATABASE7" value=""/>
    <add key="USERNAME7" value=""/>
    <add key="PASSWORD7" value=""/>
    
    <add key="SERVER8" value=""/>
    <add key="DATABASE8" value=""/>
    <add key="USERNAME8" value=""/>
    <add key="PASSWORD8" value=""/>
    
    <add key="SERVER9" value=""/>
    <add key="DATABASE9" value=""/>
    <add key="USERNAME9" value=""/>
    <add key="PASSWORD9" value=""/>
    
    <add key="SERVER10" value=""/>
    <add key="DATABASE10" value=""/>
    <add key="USERNAME10" value=""/>
    <add key="PASSWORD10" value=""/>

    <add key="LocalWintexFilePath" value="c:\Wintex"/>
    <add key="LocalDocumentViewerFilePath" value="c:\Wintex\Docs"/>
    <add key="LocalUploaderFilePath" value="c:\Wintex\Docs"/>
    <add key="LocalFinalOKFileSaveFilePath" value="c:\Wintex\finalok"/>

    <add key="WintexDomain" value="MIB.LOCAL"/>
    <add key="WintexFilePath" value="\\192.168.1.216\wintex"/>
    <add key="WintexUsername" value="wintex"/>
    <add key="WintexPassword" value="wintex"/>

    <add key="DocumentViewerDomain" value="MIB.LOCAL"/>
    <add key="DocumentViewerFilePath" value="\\192.168.1.216\wintex"/>
    <add key="DocumentViewerUsername" value="wintex"/>
    <add key="DocumentViewerPassword" value="wintex"/>

    <add key="UploaderDomain" value="MIB.LOCAL"/>
    <add key="UploaderFilePath" value="\\192.168.1.216\wintex"/>
    <add key="UploaderUsername" value="wintex"/>
    <add key="UploaderPassword" value="wintex"/>

    <add key="FinalOKFileSaveDomain" value="MIB.LOCAL"/>
    <add key="FinalOKFileSaveFilePath" value="\\192.168.1.216\wintex"/>
    <add key="FinalOKFileSaveUsername" value="wintex"/>
    <add key="FinalOKFileSavePassword" value="wintex"/>-->

    <!--OXXO Settings-->
    <!--<add key="UserControlMode" value="true"/>
    <add key="Owner" value="OXXO"/>
    <add key="ProgramName" value="OXXO"/>
    <add key="ProgramNameToolTip" value="OXXO WEB"/>
    <add key="LocalMode" value="true"/>
    <add key="ShowPictures" value="true"/>
    <add key="TicariSiparisMode" value="true"/>
    <add key="CorapMode" value="false" />
    <add key="SalesMode" value="false"/>
    <add key="FinalWithPictures" value="false"/>

    <add key="SERVER1" value="192.1.0.34" />
    <add key="DATABASE1" value="wintex" />
    <add key="USERNAME1" value="sa_wintex" />
    <add key="PASSWORD1" value="saWinteX21@OXXO" />

    <add key="SERVER2" value=""/>
    <add key="DATABASE2" value=""/>
    <add key="USERNAME2" value=""/>
    <add key="PASSWORD2" value=""/>

    <add key="SERVER3" value=""/>
    <add key="DATABASE3" value=""/>
    <add key="USERNAME3" value=""/>
    <add key="PASSWORD3" value=""/>

    <add key="SERVER4" value=""/>
    <add key="DATABASE4" value=""/>
    <add key="USERNAME4" value=""/>
    <add key="PASSWORD4" value=""/>

    <add key="SERVER5" value=""/>
    <add key="DATABASE5" value=""/>
    <add key="USERNAME5" value=""/>
    <add key="PASSWORD5" value=""/>

    <add key="SERVER6" value=""/>
    <add key="DATABASE6" value=""/>
    <add key="USERNAME6" value=""/>
    <add key="PASSWORD6" value=""/>
    
    <add key="SERVER7" value=""/>
    <add key="DATABASE7" value=""/>
    <add key="USERNAME7" value=""/>
    <add key="PASSWORD7" value=""/>
    
    <add key="SERVER8" value=""/>
    <add key="DATABASE8" value=""/>
    <add key="USERNAME8" value=""/>
    <add key="PASSWORD8" value=""/>
    
    <add key="SERVER9" value=""/>
    <add key="DATABASE9" value=""/>
    <add key="USERNAME9" value=""/>
    <add key="PASSWORD9" value=""/>
    
    <add key="SERVER10" value=""/>
    <add key="DATABASE10" value=""/>
    <add key="USERNAME10" value=""/>
    <add key="PASSWORD10" value=""/>

    <add key="LocalWintexFilePath" value="c:\Wintex"/>
    <add key="LocalDocumentViewerFilePath" value="c:\Wintex\Docs"/>
    <add key="LocalUploaderFilePath" value="c:\Wintex\Docs"/>
    <add key="LocalFinalOKFileSaveFilePath" value="c:\Wintex\finalok"/>

    <add key="WintexDomain" value="oxxo.com.tr"/>
    <add key="WintexFilePath" value="\\192.1.0.23\Wintex"/>
    <add key="WintexUsername" value="okansokmen"/>
    <add key="WintexPassword" value="Okan2022"/>

    <add key="DocumentViewerDomain" value="oxxo.com.tr"/>
    <add key="DocumentViewerFilePath" value="\\192.1.0.23\Wintex"/>
    <add key="DocumentViewerUsername" value="okansokmen"/>
    <add key="DocumentViewerPassword" value="Okan2022"/>

    <add key="UploaderDomain" value="oxxo.com.tr"/>
    <add key="UploaderFilePath" value="\\192.1.0.23\Wintex"/>
    <add key="UploaderUsername" value="okansokmen"/>
    <add key="UploaderPassword" value="Okan2022"/>

    <add key="FinalOKFileSaveDomain" value="oxxo.com.tr"/>
    <add key="FinalOKFileSaveFilePath" value="\\192.1.0.23\Wintex"/>
    <add key="FinalOKFileSaveUsername" value="okansokmen"/>
    <add key="FinalOKFileSavePassword" value="Okan2022"/>-->

    <!--Dönsa Settings-->
    <!--<add key="UserControlMode" value="true"/>
    <add key="Owner" value="Donsa"/>
    <add key="ProgramName" value="Dönsa"/>
    <add key="ProgramNameToolTip" value="Dönsa WEB"/>
    <add key="LocalMode" value="false"/>
    <add key="ShowPictures" value="true"/>
    <add key="TicariSiparisMode" value="false"/>
    <add key="CorapMode" value="true" />
    <add key="SalesMode" value="false"/>
    <add key="FinalWithPictures" value="true"/>

    <add key="SERVER" value="192.168.0.2" />
    <add key="DATABASE" value="donsa" />
    <add key="USERNAME" value="sa" />
    <add key="PASSWORD" value="121200" />

    <add key="SERVER1" value="192.168.0.2" />
    <add key="DATABASE1" value="donsa" />
    <add key="USERNAME1" value="sa" />
    <add key="PASSWORD1" value="121200" />

    <add key="SERVER2" value=""/>
    <add key="DATABASE2" value=""/>
    <add key="USERNAME2" value=""/>
    <add key="PASSWORD2" value=""/>

    <add key="SERVER3" value=""/>
    <add key="DATABASE3" value=""/>
    <add key="USERNAME3" value=""/>
    <add key="PASSWORD3" value=""/>

    <add key="SERVER4" value=""/>
    <add key="DATABASE4" value=""/>
    <add key="USERNAME4" value=""/>
    <add key="PASSWORD4" value=""/>

    <add key="SERVER5" value=""/>
    <add key="DATABASE5" value=""/>
    <add key="USERNAME5" value=""/>
    <add key="PASSWORD5" value=""/>

    <add key="SERVER6" value=""/>
    <add key="DATABASE6" value=""/>
    <add key="USERNAME6" value=""/>
    <add key="PASSWORD6" value=""/>

    <add key="SERVER7" value=""/>
    <add key="DATABASE7" value=""/>
    <add key="USERNAME7" value=""/>
    <add key="PASSWORD7" value=""/>

    <add key="SERVER8" value=""/>
    <add key="DATABASE8" value=""/>
    <add key="USERNAME8" value=""/>
    <add key="PASSWORD8" value=""/>

    <add key="SERVER9" value=""/>
    <add key="DATABASE9" value=""/>
    <add key="USERNAME9" value=""/>
    <add key="PASSWORD9" value=""/>

    <add key="SERVER10" value=""/>
    <add key="DATABASE10" value=""/>
    <add key="USERNAME10" value=""/>
    <add key="PASSWORD10" value=""/>

    <add key="LocalMode" value="false"/>
    <add key="LocalWintexFilePath" value="c:\Wintex"/>
    <add key="LocalDocumentViewerFilePath" value="c:\Wintex\Docs"/>
    <add key="LocalUploaderFilePath" value="c:\Wintex\Docs"/>
    <add key="LocalFinalOKFileSaveFilePath" value="c:\Wintex\finalok"/>

    <add key="WintexDomain" value="192.168.0.2"/>
    <add key="WintexFilePath" value="\\192.168.0.2\wintex"/>
    <add key="WintexUsername" value="administrator"/>
    <add key="WintexPassword" value="NM1368rin."/>

    <add key="DocumentViewerDomain" value="192.168.0.2"/>
    <add key="DocumentViewerFilePath" value="\\192.168.0.2\wintex\Docs"/>
    <add key="DocumentViewerUsername" value="administrator"/>
    <add key="DocumentViewerPassword" value="NM1368rin."/>

    <add key="UploaderDomain" value="192.168.0.2"/>
    <add key="UploaderFilePath" value="\\192.168.0.2\wintex\Docs"/>
    <add key="UploaderUsername" value="administrator"/>
    <add key="UploaderPassword" value="NM1368rin."/>

    <add key="FinalOKFileSaveDomain" value="192.168.0.2"/>
    <add key="FinalOKFileSaveFilePath" value="\\192.168.0.2\wintex\finalok"/>
    <add key="FinalOKFileSaveUsername" value="administrator"/>
    <add key="FinalOKFileSavePassword" value="NM1368rin."/>-->
    
    <!--Bolero Settings-->
    <!--<add key="UserControlMode" value="true"/>
    <add key="Owner" value="Bolero"/>
    <add key="ProgramName" value="Bolero"/>
    <add key="ProgramNameToolTip" value="Bolero WEB"/>
    <add key="LocalMode" value="false"/>
    <add key="ShowPictures" value="true"/>
    <add key="TicariSiparisMode" value="false"/>
    <add key="CorapMode" value="false"/>
    <add key="SalesMode" value="false"/>
    <add key="FinalWithPictures" value="false"/>

    <add key="SERVER" value="20.10.40.48" />
    <add key="DATABASE" value="bolero" />
    <add key="USERNAME" value="sa" />
    <add key="PASSWORD" value="Bolerotex2019@.!" />

    <add key="SERVER1" value="20.10.40.48" />
    <add key="DATABASE1" value="bolero" />
    <add key="USERNAME1" value="sa" />
    <add key="PASSWORD1" value="Bolerotex2019@.!" />

    <add key="SERVER2" value=""/>
    <add key="DATABASE2" value=""/>
    <add key="USERNAME2" value=""/>
    <add key="PASSWORD2" value=""/>

    <add key="SERVER3" value=""/>
    <add key="DATABASE3" value=""/>
    <add key="USERNAME3" value=""/>
    <add key="PASSWORD3" value=""/>

    <add key="SERVER4" value=""/>
    <add key="DATABASE4" value=""/>
    <add key="USERNAME4" value=""/>
    <add key="PASSWORD4" value=""/>

    <add key="SERVER5" value=""/>
    <add key="DATABASE5" value=""/>
    <add key="USERNAME5" value=""/>
    <add key="PASSWORD5" value=""/>

    <add key="SERVER6" value=""/>
    <add key="DATABASE6" value=""/>
    <add key="USERNAME6" value=""/>
    <add key="PASSWORD6" value=""/>

    <add key="SERVER7" value=""/>
    <add key="DATABASE7" value=""/>
    <add key="USERNAME7" value=""/>
    <add key="PASSWORD7" value=""/>

    <add key="SERVER8" value=""/>
    <add key="DATABASE8" value=""/>
    <add key="USERNAME8" value=""/>
    <add key="PASSWORD8" value=""/>

    <add key="SERVER9" value=""/>
    <add key="DATABASE9" value=""/>
    <add key="USERNAME9" value=""/>
    <add key="PASSWORD9" value=""/>

    <add key="SERVER10" value=""/>
    <add key="DATABASE10" value=""/>
    <add key="USERNAME10" value=""/>
    <add key="PASSWORD10" value=""/>

    <add key="LocalMode" value="false"/>
    <add key="LocalWintexFilePath" value="c:\Wintex"/>
    <add key="LocalDocumentViewerFilePath" value="c:\Wintex\Docs"/>
    <add key="LocalUploaderFilePath" value="c:\Wintex\Docs"/>
    <add key="LocalFinalOKFileSaveFilePath" value="c:\Wintex\finalok"/>

    <add key="WintexDomain" value="20.10.40.48"/>
    <add key="WintexFilePath" value="\\20.10.40.48\Wintex-Dosyalar"/>
    <add key="WintexUsername" value="administrator"/>
    <add key="WintexPassword" value="M@uspro2020!.!"/>

    <add key="DocumentViewerDomain" value="20.10.40.48"/>
    <add key="DocumentViewerFilePath" value="\\20.10.40.48\Wintex-Dosyalar\Docs"/>
    <add key="DocumentViewerUsername" value="administrator"/>
    <add key="DocumentViewerPassword" value="M@uspro2020!.!"/>

    <add key="UploaderDomain" value="20.10.40.48"/>
    <add key="UploaderFilePath" value="\\20.10.40.48\Wintex-Dosyalar\Docs"/>
    <add key="UploaderUsername" value="administrator"/>
    <add key="UploaderPassword" value="M@uspro2020!.!"/>

    <add key="FinalOKFileSaveDomain" value="20.10.40.48"/>
    <add key="FinalOKFileSaveFilePath" value="\\20.10.40.48\Wintex-Dosyalar\finalok"/>
    <add key="FinalOKFileSaveUsername" value="administrator"/>
    <add key="FinalOKFileSavePassword" value="M@uspro2020!.!"/>-->
    
    <!--Eroğlu Settings-->
    <!--<add key="UserControlMode" value="true"/>
    <add key="Owner" value="Eroglu"/>
    <add key="ProgramName" value="Eroglu"/>
    <add key="ProgramNameToolTip" value="Eroglu WEB"/>
    <add key="LocalMode" value="true"/>
    <add key="ShowPictures" value="true"/>
    <add key="TicariSiparisMode" value="false"/>
    <add key="CorapMode" value="false"/>
    <add key="SalesMode" value="false"/>
    <add key="FinalWithPictures" value="false"/>

    <add key="SERVER1" value="192.168.1.8"/>
    <add key="DATABASE1" value="TES"/>
    <add key="USERNAME1" value="sa"/>
    <add key="PASSWORD1" value="er1303*?"/>
    
    <add key="SERVER2" value="192.168.1.8"/>
    <add key="DATABASE2" value="TESDENEME"/>
    <add key="USERNAME2" value="sa"/>
    <add key="PASSWORD2" value="er1303*?"/>
    
    <add key="SERVER3" value="192.168.1.8"/>
    <add key="DATABASE3" value="MISIR"/>
    <add key="USERNAME3" value="sa"/>
    <add key="PASSWORD3" value="er1303*?"/>
    
    <add key="SERVER4" value="192.168.1.8"/>
    <add key="DATABASE4" value="MISIRFASON"/>
    <add key="USERNAME4" value="sa"/>
    <add key="PASSWORD4" value="er1303*?"/>
    
    <add key="SERVER5" value="192.168.1.8"/>
    <add key="DATABASE5" value="DEFOLUDEPO"/>
    <add key="USERNAME5" value="sa"/>
    <add key="PASSWORD5" value="er1303*?"/>
    
    <add key="SERVER6" value=""/>
    <add key="DATABASE6" value=""/>
    <add key="USERNAME6" value=""/>
    <add key="PASSWORD6" value=""/>
    
    <add key="SERVER7" value=""/>
    <add key="DATABASE7" value=""/>
    <add key="USERNAME7" value=""/>
    <add key="PASSWORD7" value=""/>
    
    <add key="SERVER8" value=""/>
    <add key="DATABASE8" value=""/>
    <add key="USERNAME8" value=""/>
    <add key="PASSWORD8" value=""/>
    
    <add key="SERVER9" value=""/>
    <add key="DATABASE9" value=""/>
    <add key="USERNAME9" value=""/>
    <add key="PASSWORD9" value=""/>
    
    <add key="SERVER10" value=""/>
    <add key="DATABASE10" value=""/>
    <add key="USERNAME10" value=""/>
    <add key="PASSWORD10" value=""/>

    <add key="LocalMode" value="true"/>
    <add key="LocalWintexFilePath" value="D:\Wintex"/>
    <add key="LocalDocumentViewerFilePath" value="D:\Wintex\Docs"/>
    <add key="LocalUploaderFilePath" value="D:\Wintex\Docs"/>
    <add key="LocalFinalOKFileSaveFilePath" value="D:\Wintex\finalok"/>

    <add key="WintexDomain" value="192.168.1.11"/>
    <add key="WintexFilePath" value="\\192.168.1.57\Wintex"/>
    <add key="WintexUsername" value="wintex"/>
    <add key="WintexPassword" value="W456s456+"/>
    
    <add key="DocumentViewerDomain" value="192.168.1.11"/>
    <add key="DocumentViewerFilePath" value="\\192.168.1.57\Wintex\Docs"/>
    <add key="DocumentViewerUsername" value="wintex"/>
    <add key="DocumentViewerPassword" value="W456s456+"/>
    
    <add key="UploaderDomain" value="192.168.1.11"/>
    <add key="UploaderFilePath" value="\\192.168.1.57\Wintex\Docs"/>
    <add key="UploaderUsername" value="wintex"/>
    <add key="UploaderPassword" value="W456s456+"/>
    
    <add key="FinalOKFileSaveDomain" value="192.168.1.11"/>
    <add key="FinalOKFileSaveFilePath" value="\\192.168.1.57\Wintex\finalok"/>
    <add key="FinalOKFileSaveUsername" value="wintex"/>
    <add key="FinalOKFileSavePassword" value="W456s456+"/>-->
    
    <!--TEST Settings-->
    <!--<add key="UserControlMode" value="true"/>
    <add key="Owner" value="Alders"/>
    <add key="ProgramName" value="Alders"/>
    <add key="ProgramNameToolTip" value="Alders WEB"/>
    <add key="ShowPictures" value="true"/>
    
    <add key="SERVER1" value="MONSTER" />
    <add key="DATABASE1" value="TES" />
    <add key="USERNAME1" value="sa" />
    <add key="PASSWORD1" value="Hayabusa1024" />

    <add key="WintexDomain" value="MONSTER" />
    <add key="WintexFilePath" value="\\MONSTER\Wintex" />
    <add key="WintexUsername" value="okan" />
    <add key="WintexPassword" value="Hayabusa1024" />
    <add key="DocumentViewerDomain" value="MONSTER" />
    <add key="DocumentViewerFilePath" value="\\MONSTER\Wintex\Docs" />
    <add key="DocumentViewerUsername" value="okan" />
    <add key="DocumentViewerPassword" value="Hayabusa1024" />
    <add key="UploaderDomain" value="MONSTER" />
    <add key="UploaderFilePath" value="\\MONSTER\Wintex\Docs" />
    <add key="UploaderUsername" value="okan" />
    <add key="UploaderPassword" value="Hayabusa1024" />-->
    
  </appSettings>
  
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  
  <system.web>
    <hostingEnvironment shadowCopyBinAssemblies="false"/>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" requestValidationMode="4.0" executionTimeout="110" requestLengthDiskThreshold="1024"/>
    <customErrors mode="RemoteOnly" defaultRedirect="/Error500.aspx" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/Error404.aspx"/>
      <error statusCode="500" redirect="/Error500.aspx"/>
    </customErrors>
    <globalization culture="en-US" uiCulture="en-US"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Collections.Generic"/>
      </namespaces>
      <controls>
        <add tagPrefix="GleamTech" namespace="GleamTech.DocumentUltimate" assembly="GleamTech.DocumentUltimate"/>
        <add tagPrefix="GleamTech" namespace="GleamTech.DocumentUltimate.AspNet.WebForms" assembly="GleamTech.DocumentUltimate"/>
        <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="DevExpress.CodeParser.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Charts.v21.1.Core, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Dashboard.v21.1.Core, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Dashboard.v21.1.Web, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Dashboard.v21.1.Web.WebForms, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Data.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.DataAccess.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Map.v21.1.Core, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Office.v21.1.Core, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.PivotGrid.v21.1.Core, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Printing.v21.1.Core, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.RichEdit.v21.1.Core, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Sparkline.v21.1.Core, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Pdf.v21.1.Core, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.TreeMap.v21.1.Core, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Utils.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxThemes.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Xpo.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraCharts.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraEditors.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraGauges.v21.1.Core, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraGauges.v21.1.Presets, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraGauges.v21.1.Win, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraMap.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraPrinting.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraReports.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraTreeMap.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.Resources.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.RichEdit.v21.1.Export, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="Newtonsoft.Json"/>
      </assemblies>
    </compilation>
    <httpModules>
      <add name="Wisej" type="Wisej.Core.HttpModule, Wisej.Framework"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXDD.axd" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <!--<add name="WisejAspNetControl" type="Wisej.Web.Ext.AspNetControl.HttpModule, Wisej.Web.Ext.AspNetControl" />-->
      <add name="Wisej" type="Wisej.Core.HttpModule, Wisej.Framework"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
    <handlers>
      <add name="json" verb="*" path="*.json" type="System.Web.HttpForbiddenHandler"/>
      <add name="wisej" verb="*" path="*.wx" type="Wisej.Core.HttpHandler, Wisej.Framework"/>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXDD.axd" name="WebDashboardHandler" preCondition="integratedMode"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <defaultDocument enabled="true">
      <files>
        <add value="Default.html"/>
      </files>
    </defaultDocument>
    <caching enabled="true" enableKernelCache="true" maxCacheSize="10000" maxResponseSize="1024000">
      <profiles>
        <add extension=".asp" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".dll" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
      </profiles>
    </caching>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
    </staticContent>
  </system.webServer>
  <devExpress>
    <compression enableHtmlCompression="true" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="Default" customThemeAssemblies="" baseColor="" font=""/>
    <errors callbackErrorRedirectUrl=""/>
    <settings rightToLeft="false" doctypeMode="Xhtml" ieCompatibilityVersion="edge" accessibilityCompliant="false" bootstrapMode="Bootstrap3" checkReferencesToExternalScripts="true" protectControlState="true"/>
    <resources>
      <add type="ThirdParty"/>
      <add type="DevExtreme"/>
    </resources>
  </devExpress>
  <!--<system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <remove name="Default" />
        <add name="Default" type="System.Diagnostics.TextWriterTraceListener" initializeData="Trace.log" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.1" newVersion="3.0.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MusteriKargoSiparisSoap"/>
        <binding name="SorguSoap11Binding"/>
        <binding name="SorguSoap11Binding1">
          <security mode="Transport"/>
        </binding>
        <binding name="SorguSoap11Binding2"/>
        <binding name="SorguSoap11Binding3">
          <security mode="Transport"/>
        </binding>
        <binding name="SorguSoap11Binding4"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="MusteriKargoSiparisSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
        <binding name="SorguSoap12Binding">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
        <binding name="SorguSoap12Binding1">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
        <binding name="SorguSoap12Binding2">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://service.mngkargo.com.tr/tservis/musterikargosiparis.asmx" binding="basicHttpBinding" bindingConfiguration="MusteriKargoSiparisSoap" contract="musterikargosiparis.MusteriKargoSiparisSoap" name="MusteriKargoSiparisSoap"/>
      <endpoint address="http://service.mngkargo.com.tr/tservis/musterikargosiparis.asmx" binding="customBinding" bindingConfiguration="MusteriKargoSiparisSoap12" contract="musterikargosiparis.MusteriKargoSiparisSoap" name="MusteriKargoSiparisSoap12"/>
      <endpoint address="https://pttws.ptt.gov.tr/PttVeriYukleme/services/Sorgu.SorguHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="SorguSoap11Binding" contract="PTTService.SorguPortType" name="SorguHttpSoap11Endpoint"/>
      <endpoint address="https://pttws.ptt.gov.tr/PttVeriYukleme/services/Sorgu.SorguHttpSoap12Endpoint/" binding="customBinding" bindingConfiguration="SorguSoap12Binding" contract="PTTService.SorguPortType" name="SorguHttpSoap12Endpoint"/>
      <endpoint address="https://pttws.ptt.gov.tr/PttBilgi/services/Sorgu*" binding="basicHttpBinding" bindingConfiguration="SorguSoap11Binding1" contract="PTTBilgi.SorguPortType" name="SorguHttpSoap11Endpoint1"/>
      <endpoint address="https://pttws.ptt.gov.tr/PttBilgi/services/Sorgu*" binding="customBinding" bindingConfiguration="SorguSoap12Binding1" contract="PTTBilgi.SorguPortType" name="SorguHttpSoap12Endpoint1"/>
      <endpoint address="https://pttws.ptt.gov.tr/GonderiTakipV2/services/Sorgu*" binding="basicHttpBinding" bindingConfiguration="SorguSoap11Binding3" contract="PTTGonderiTakipV2.SorguPortType" name="SorguHttpSoap11Endpoint2"/>
      <endpoint address="https://pttws.ptt.gov.tr/GonderiTakipV2/services/Sorgu*" binding="customBinding" bindingConfiguration="SorguSoap12Binding2" contract="PTTGonderiTakipV2.SorguPortType" name="SorguHttpSoap12Endpoint2"/>
    </client>
  </system.serviceModel>
</configuration>